.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 120vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
  padding-bottom: 10px;
}

.item {
  background-color: white;
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(50vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Heading {
  margin-bottom: 40px;
}
